<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>Allow Local Networking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.86.176</key>
			<string></string>
			<key>Allow Insecure HTTP methods</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
